{% extends "base.html" %}
{% block nav_contact_us %}active{% endblock %}
{% block content %}

<div class="container  mb-5" id="contact-us-display">
    <div class="container">
        <h1>Contact Us</h1>
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        Contact Info
                        0658463532156
                        test@test.com
                    </div>
                    <div class="col-lg-6 mb-3">
                        Contact Info
                        0658463532156
                        test@test.com
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <form class="col-lg-8">
                <div class="row">
                    <div class="mb-3 col-lg-6">
                        <input id="first_name" type="text" class="form-control" minlength="2" maxlength="20" required>
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <input id="last_name" type="text" class="form-control" minlength="2" maxlength="20" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg-6">
                        <input id="email" type="email" class="form-control" minlength="5" maxlength="40" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <input id="contact_number" type="tel" class="form-control" minlength="11" maxlength="11">
                        <label for="contact_number">Contact Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg-6">
                        <input id="company" type="text" class="form-control" minlength="5" maxlength="40">
                        <label for="last_name">Company</label>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <input id="your_site" type="text" class="form-control" minlength="5" maxlength="40">
                        <label for="your_site">Your Site</label>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg-12">
                        <textarea id="textarea1" class="form-control" minlength="5" maxlength="250"></textarea>
                        <label for="textarea1">How did you hear about us?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg-12">
                        <textarea id="message" class="form-control" minlength="5" maxlength="250"></textarea>
                        <label for="message">Message</label>
                    </div>
                </div>
            </form>
            <div class="col-lg-4">
                <img src="{{ url_for('static', filename='img/flower-logo.png') }}" class="img-fluid" id="flower-background" alt="Logo">
            </div>
        </div>
    </div>

</div>

{% endblock %}