{% extends "base.html" %}
{% block nav_home %}active{% endblock %}
{% block content %}

<div class="container-fluid bg-navy">
    <!-- HERO LANDING SECTION -->
    <div id="hero-landing-container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="website-heading">Web Design Agency</h1>
                <h2 class="website-blurb">We combine the skills of talented in-house web designers, developers, search
                    and social strategists to deliver a unified service for hundreds of clients throughout London and
                    the UK.</h2>
            </div>
            <div class="col-lg-6">
                <div id="logo-container">
                    <img id="flower-logo" src="static/img/mollusk.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- COMPANY INFO/OFFER SECTION -->
    <a class="anchor" id="what_we_do"></a>
    <section class="mt-5 mt-2">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card card-homepage bg-light p-2 mr-4">
                    <div class="card-image">
                        <!--<img src="#">-->
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>What we do information</p>
                    </div>
                </div>
            </div>
            <div id="info-1" class="col l6 info">
                <h3 class="mt-5 mb-2">What we do</h3>
                <div class="underline-1 ml-5 mb-4"></div>
                <p>
                    <span class="highlight">We provide web solutions and content services, creating stunning products for your business to excel and stand out amongst the competition. </span>
                </p>
                <p>
                    We work with all types of businesses, building functional websites and providing quality media content to complement them.
                </p>
                <p>
                    Choosing to work with Zentangle media guarantees you a user focussed, mobile first, Fast and reliable website. All our sites are custom-built and our developers will work with you throughout the creative journey, using the latest technologies to get the best results for your project.
                </p>
                <p>
                    Our content creators are on hand to ensure you have the best marketing material available for your site and have the resources to arrange on-site photoshoots and video recording to showcase your product/services in their best light.
                </p>
                <div class="underline-2 mt-4"></div>
            </div>
        </div>
    </section>

    <section id="list_of_services" class="mt-5 mb-2">
        <div class="row flex-s">
            <div class="col-12 col-lg-6 box-a info">
                <h3 class="mt-5">Services</h3>
                <div class="underline-1 ml-5 mb-4"></div>
                <p class="highlight">
                   We offer a variety of digital solutions for your business. These include website design, eCommerce, SEO and media content creation. A full list of our services and details are listed below.
                </p>

                <ul>
                    <li>Bespoke Website design</li>
                    <li>Website Management</li>
                    <li>Content Creation
                        <ul>
                            <li>Photography</li>
                            <li>Videography</li>
                            <li>Graphic Design</li>
                        </ul>
                    </li>
                    <li>Content Marketing</li>
                    <li>Search Engine Optimization</li>
                </ul>






                <div class="underline-2 mt-4"></div>
            </div>
            <div class="col-12 col-lg-6 box-b">
                <div class="card card-homepage bg-light p-2 ml-4">
                    <div class="card-image">
                        <!--<img src="#">-->
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>List of services</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="our_process" class="mt-5 mb-2">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card card-homepage bg-light p-2 mr-4">
                    <div class="card-image">
                        <!--<img src="#">-->
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>Our Process</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 info">
                <h3 class="mt-5">Design Process</h3>
                <div class="underline-1 ml-5 mb-4"></div>
                <p>
                    <span class="highlight">Whether it’s a start-up or an existing site that needs a refresh our team is well equipped to deliver a bespoke solution.</span>
                </p>
                <p>
                    We follow a phased approach to deliver your project. Firstly, we do extensive market research analysing competitors in your market to ensure your site will have a competitive edge. Our team will brainstorm with you to decide on the flow of the site and what content you have or will need for your project. Once this is decided we’d recommend a framework that we feel would best suit your needs. 
                </p>
                <p>    
                    In the next phase, our developers will create wireframes detailing the layout of the site on all devices opening the door to more collaboration and feedback. All website functionality will be discussed, ideas shared and the backend operation of the site finalized. 
                </p>
                <p>
                    When the design is agreed upon we begin coding your site ensuring that the goals and objectives developed in the early stages are met. In the final phase, a series of tests are undertaken to further improve site performance.
                </p>
                <div class="underline-2 mt-4"></div>
            </div>
        </div>
    </section>

    <!-- PORTFOLIO FEATURED SECTION -->
    <a class="anchor" id="portfolio"></a>
    <section class="mt-5 mb-5">
        <h2>PORTFOLIO</h2>
        <div class="underline-1 mb-4 ml-5"></div>
        <div class="row">
            <div id="portfolio-item-1" class="col-lg-4">
                <div class="item-wrapper rounded-1 bg-blue p-3">
                    <div class="portfolio-item mx-auto">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center">TEST 1</div>
                        </div>
                        <img class="img-fluid" src="static/img/portfolio_example_1.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div id="portfolio-item-2" class="col-lg-4">
                <div class="item-wrapper rounded-1 bg-blue p-3">
                    <div class="portfolio-item mx-auto">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center">TEST 1</div>
                        </div>
                        <img class="img-fluid" src="static/img/portfolio_example_2.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div id="portfolio-item-3" class="col-lg-4">
                <div class="item-wrapper rounded-1 bg-blue p-3">
                    <div class="portfolio-item mx-auto">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center">TEST 1</div>
                        </div>
                        <img class="img-fluid" src="static/img/portfolio_example_3.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT SECTION -->
    <a class="anchor" id="contact"></a>
        <div class="row mt-5 mb-5">
            <div class="col-12 mt-5">
                <div>
                    <h3 class="text-center"> CONTACT US / GET IN TOUCH <i class="far fa-address-book"></i></h3>
                    <div class="underline-2-full mt-3 mx-auto w-25"></div>
                </div>
            </div>
        </div>

        <div class="container  mb-5" id="contact-us-display">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                Contact Info
                                0658463532156
                                test@test.com
                            </div>
                            <div class="col-lg-6 mb-3">
                                Contact Info
                                0658463532156
                                test@test.com
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <form onsubmit="return sendMail(this);" class="col-lg-12">
                        <div class="row">
                            <div class="mb-3 col-lg-6">
                                <input id="first_name" type="text" class="form-control" minlength="2" maxlength="20"
                                    required>
                                <label for="first_name">First Name*</label>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <input id="last_name" type="text" class="form-control" minlength="2" maxlength="20"
                                    required>
                                <label for="last_name">Last Name*</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-lg-6">
                                <input id="email" type="email" class="form-control" minlength="5" maxlength="40"
                                    required>
                                <label class="mt-2" for="email">Email*</label>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <input id="contact_number" type="tel" class="form-control" minlength="11"
                                    maxlength="11">
                                <label for="contact_number">Contact Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-lg-6">
                                <input id="company" type="text" class="form-control" minlength="5" maxlength="40">
                                <label for="last_name">Company</label>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <input id="your_site" type="text" class="form-control" minlength="5" maxlength="40">
                                <label for="your_site">Your Site</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-lg-12">
                                <textarea id="how_did_you_hear" class="form-control" minlength="5"
                                    maxlength="250"></textarea>
                                <label for="how_did_you_hear">How did you hear about us?</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-lg-12">
                                <textarea id="message" class="form-control" minlength="5" maxlength="250" required></textarea>
                                <label class="mt-3" or="message">Message*</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-blue-grey btn-sm">SEND MESSAGE</button>
                    </form>
                </div>
            </div>
        </div>  
    
    <!--Success message modal-->
    <div class="modal fade" id="modalSendMessageSuccess" tabindex="-1" role="dialog" aria-labelledby="modalJoinSuccess"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify" role="document">
            <div class="modal-content">
                <div class="modal-header dark-background">
                    <h4 class="modal-title w-100 myModalLabel">Thanks for your message, we will be in touch with you
                        shortly!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Success message modal-->

</div>



{% endblock %}