{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- HERO LANDING SECTION -->
    <div id="hero-landing-container">
        <div class="row">
            <div class="col l5">
                <div id="home-nav">
                    <h1>Alternate Nav element</h1>
                </div>
            </div>
            <div class="col l7">
                <div id="logo-container">
                    <img id="flower-logo" src="static/img/flower-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- COMPANY INFO/OFFER SECTION -->
    <section id="what_we_do">
    <div class="row">
        <div class="col s12 l6">
            <div class="card card-homepage bg-light p-2 mr-4">
                <div class="card-image">
                    <!--<img src="#">-->
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>What we do information</p>
                </div>
            </div>
        </div>
        <div class="col l6">
            <h3 class="mt-5 text-white">What you get</h3>
            <div class="underline-1 ml-5"></div>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam dignissimos cumque reprehenderit maxime, aliquid ratione sit, alias doloribus reiciendis vitae at dolores perferendis magni vero recusandae sint nobis perspiciatis quibusdam?</p>
            <div class="underline-2"></div>
        </div>
    </div>
    </section>
    
    <div class="row flex-s">
        <div class="col l6 box-a">
            <h3 class="mt-5 text-white">What we offer</h3>
            <div class="underline-1 ml-5"></div>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam dignissimos cumque reprehenderit maxime, aliquid ratione sit, alias doloribus reiciendis vitae at dolores perferendis magni vero recusandae sint nobis perspiciatis quibusdam?</p>
            <div class="underline-2"></div>
        </div>
        <div class="col s12 l6 box-b">
            <div class="card card-homepage bg-light p-2 ml-4">
                <div class="card-image">
                    <!--<img src="#">-->
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>List of services</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <div class="card card-homepage bg-light p-2 mr-4">
                <div class="card-image">
                    <!--<img src="#">-->
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>Our Process</p>
                </div>
            </div>
        </div>
        <div class="col l6">
            <h3 class="mt-5 text-white">Design Process</h3>
            <div class="underline-1 ml-5"></div>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam dignissimos cumque reprehenderit maxime, aliquid ratione sit, alias doloribus reiciendis vitae at dolores perferendis magni vero recusandae sint nobis perspiciatis quibusdam?</p>
            <div class="underline-2"></div>
        </div>
    </div>

    <!-- PORTFOLIO FEATURED SECTION -->
    <h2 class="text-white">PORTFOLIO</h2>
    <div class="underline-1 mb-4 ml-5"></div>
    <div class="row">
        <div class="col l4 s12">
            <div class="item-wrapper rounded-1 bg-white p-3">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">TEST 1</div>
                    </div>
                    <img class="img-fluid" src="static/img/portfolio_example_1.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="item-wrapper rounded-1 bg-white p-3">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">TEST 1</div>
                    </div>
                    <img class="img-fluid" src="static/img/portfolio_example_2.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="item-wrapper rounded-1 bg-white p-3">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">TEST 1</div>
                    </div>
                    <img class="img-fluid" src="static/img/portfolio_example_3.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- CONTACT SECTION -->
    <div class="row">
        <div class="col m12">
            <div>
                <h3 class="center-align"> CONTACT US / GET IN TOUCH </h3>
            </div>
        </div>
    </div>


</div>


{% endblock %}