{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- HERO LANDING SECTION -->
    <div class="row">
        <div class="col ml">
            <h1>BLANK SPACE</h1>
        </div>
        <div class="col ml">
            <h1>IMAGE / BRAND</h1>
        </div>
    </div>

    <!-- COMPANY INFO/OFFER SECTION -->
    <section id="what_we_do">
    <div class="row">
        <div class="col s12 l6">
            <div class="card card-homepage bg-light p-2 mr-4">
                <div class="card-image">
                    <!--<img src="#">-->
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>What we do information</p>
                </div>
            </div>
        </div>
        <div class="col l6">
            <h3 class="mt-5">What you get</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam dignissimos cumque reprehenderit maxime, aliquid ratione sit, alias doloribus reiciendis vitae at dolores perferendis magni vero recusandae sint nobis perspiciatis quibusdam?</p>
        </div>
    </div>
    </section>
    
    <div class="row flex-s">
        <div class="col l6 box-a">
            <h3 class="mt-5">What we offer</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam dignissimos cumque reprehenderit maxime, aliquid ratione sit, alias doloribus reiciendis vitae at dolores perferendis magni vero recusandae sint nobis perspiciatis quibusdam?</p>
        </div>
        <div class="col s12 l6 box-b">
            <div class="card card-homepage bg-light p-2 ml-4">
                <div class="card-image">
                    <!--<img src="#">-->
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>List of services</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <div class="card card-homepage bg-light p-2 mr-4">
                <div class="card-image">
                    <!--<img src="#">-->
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>Our Process</p>
                </div>
            </div>
        </div>
        <div class="col l6">
            <h3 class="mt-5">Design Process</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam dignissimos cumque reprehenderit maxime, aliquid ratione sit, alias doloribus reiciendis vitae at dolores perferendis magni vero recusandae sint nobis perspiciatis quibusdam?</p>
        </div>
    </div>

    <!-- PORTFOLIO FEATURED SECTION -->
    <h1>PORTFOLIO</h1>
    <div class="row">
        <div class="col l4 s12">
            <h1 class="center-align">ITEM 1</h1>
        </div>
        <div class="col l4 s12">
            <h1 class="center-align">ITEM 2</h1>
        </div>
        <div class="col l4 s12">
            <h1 class="center-align">ITEM 3</h1>
        </div>
    </div>

    <hr>

    <!-- CONTACT SECTION -->
    <div class="row">
        <div class="col m12">
            <div>
                <h3 class="center-align"> CONTACT US / GET IN TOUCH </h3>
            </div>
        </div>
    </div>

</div>


{% endblock %}